# First print your name in the cell below then save this file. (or something nice about your instructor)

In [5]:
# In this cell print your name 
print('Steven is a beast')

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [3]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [129]:
# Load data here
df = pd.read_csv('data/listings.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46527 entries, 0 to 46526
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              46527 non-null  int64
 1   name                            46509 non-null  object
 2   host_id                         46527 non-null  int64
 3   host_name                       46492 non-null  object
 4   neighbourhood_group             46527 non-null  object
 5   neighbourhood                   46527 non-null  object
 6   latitude                        46527 non-null  float64
 7   longitude                       46527 non-null  float64
 8   room_type                       46527 non-null  object
 9   price                           46527 non-null  int64
 10  minimum_nights                  46527 non-null  int64
 11  number_of_reviews               46527 non-null  int64
 12  last_review                     35816 non-null  object
 13  reviews_per_month               35816 non-null  float64
 14  calculated_host_listings_count  46527 non-null  int64
 15  availability_365                46527 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 5.7+ MB

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [32]:
# 1. How many listings are there with a price less than 100? 
listings_under_100 = df['price'] < 100

In [101]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.
brooklyn_condition = df['neighbourhood_group'] == 'Brooklyn'

df_bk = df[brooklyn_condition]
df_bk.neighbourhood_group.value_counts()

Brooklyn    18632
Name: neighbourhood_group, dtype: int64

In [140]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.
under_100 = df_bk['price'] < 100

bk_low = df_bk[under_100]
bk_low.head()

print(len(bk_low))

10473

In [139]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names
names = ['Michael', 'David', 'John', 'Daniel']

condition = df.host_name.isin(names)

df[condition]['host_name'].value_counts()

Michael    387
David      348
John       270
Daniel     253
Name: host_name, dtype: int64

In [172]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 
c1 = df['neighbourhood'] == 'Williamsburg'

c2 = df['price']

def plus100(input):
    output = input + 100
    return output

def doNothing(input):
    return input


df['adjusted_price'] = np.where(c1, plus100(c2), doNothing(c2))

#Just to make sure the prices were adjusted in WillyB
willyB = df['neighbourhood'] == 'Williamsburg'
df_wb = df[willyB]
df_wb.neighbourhood.value_counts()

df_wb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,adjusted_price
11,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,109,2,181,2020-03-16,1.32,1,0,209
15,7801,Sweet and Spacious Brooklyn Loft,21207,Chaya,Brooklyn,Williamsburg,40.71842,-73.95718,Entire home/apt,299,3,9,2011-12-28,0.07,1,337,399
35,14290,* ORIGINAL BROOKLYN LOFT *,56104,James,Brooklyn,Williamsburg,40.70420,-73.93560,Entire home/apt,131,3,95,2020-05-28,0.73,1,164,231
38,14377,Williamsburg 1 bedroom Apartment,56512,Joanna,Brooklyn,Williamsburg,40.70881,-73.95930,Entire home/apt,175,10,113,2020-01-24,0.87,1,165,275
42,15385,"Very, very cozy place",60252,Cristina,Brooklyn,Williamsburg,40.71185,-73.96204,Private room,80,7,49,2020-02-07,0.39,1,229,180

In [233]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  

c1 = df['room_type'] == 'Private room'
c2 = df['room_type'] == 'Shared room'

private_rooms = len(df[c1]) / len(df['room_type'])

print(len(df[c1]))

print(private_rooms)

### NEED HELP ON THIS ONE

0
0.0

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [252]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.
gb = df.groupby('neighbourhood_group')

print(gb['neighbourhood_group'].value_counts())


## Notes: Get it to print only the neighbourhood_group once

neighbourhood_group  neighbourhood_group
Bronx                Bronx                   1183
Brooklyn             Brooklyn               18632
Manhattan            Manhattan              20580
Queens               Queens                  5791
Staten Island        Staten Island            341
Name: neighbourhood_group, dtype: int64

In [253]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 

gb = df.groupby('neighbourhood_group')


print(gb['price'].mean())

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [246]:
# 2.5. Using `groupby`, find the mean price for each room_type. 
gb1 = df.groupby('room_type')


print(gb['room_type'].mean())

## NEED HELP ON THIS ONE

DataError: No numeric types to aggregate

In [245]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 
gb = df.groupby('neighbourhood_group')

print(gb['price'].min())
print("\n")
print(gb['price'].max())

neighbourhood_group
Bronx            16
Brooklyn          0
Manhattan         0
Queens            0
Staten Island    19
Name: price, dtype: int64


neighbourhood_group
Bronx             1404
Brooklyn         10000
Manhattan        10000
Queens           10000
Staten Island     1200
Name: price, dtype: int64

In [255]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.
groupby_cols = ['neighbourhood_group', 'room_type']
gb = df.groupby(groupby_cols)
gb['price'].mean()

# For some reason it only shows the shared rooms, maybe due to size of the cell?

neighbourhood_group  room_type
Bronx                Shared room     92.751479
Brooklyn             Shared room    120.225258
Manhattan            Shared room    191.880466
Queens               Shared room     99.754965
Staten Island        Shared room    110.947214
Name: price, dtype: float64

In [257]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.
groupby_cols = ['neighbourhood_group', 'room_type']
gb = df.groupby(groupby_cols)

gb['price'].agg( ['count', 'min', 'max', 'mean', 'median', 'std', 'sum'] )


# For some reason it only shows the shared rooms, maybe due to size of cell?

,,count,min,max,mean,median,std,sum
neighbourhood_group,room_type,,,,,,,
Bronx,Shared room,1183,16,1404,92.751479,69,95.787081,109725
Brooklyn,Shared room,18632,0,10000,120.225258,90,180.136376,2240037
Manhattan,Shared room,20580,0,10000,191.880466,129,428.682578,3948900
Queens,Shared room,5791,0,10000,99.754965,70,207.648739,577681
Staten Island,Shared room,341,19,1200,110.947214,79,122.676152,37833

# Join and file saving.
1. Load the `prices.csv` and the `n_listings.csv`


2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']
       
       
3. Save your joined csv as `joined.csv`


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [263]:
# 1. Load the `prices.csv` and the `n_listings.csv`
dfprices = pd.read_csv('data/prices.csv')
print(dfprices)

dflistings = pd.read_csv('data/n_listings.csv')
print(dflistings)

  neighbourhood_group   mean_price
0               Bronx    92.751479
1            Brooklyn   120.225258
2           Manhattan   191.880466
3              Queens    99.754965
4       Staten Island   110.947214
  neighbourhood_group;n_listings
0                     Bronx;1183
1                 Brooklyn;18632
2                Manhattan;20580
3                LongIsland;4121

In [267]:
# 2. Do join that keeps all the records for each table.
new_df = pd.merge(dfprices, dflistings, on='neighbourhood_group', how= 'left')

print(new_df)

KeyError: 'neighbourhood_group'

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.